body {
    margin: 0;
    padding: 0;
}

.canvas-wrapp {
    display: flex;
    max-width: 1920px;
    width: 100%;
    position: relative;
}

#sidebar {
    width: 13vw; /* Изменено на vw для адаптивности */
    margin-right: 20px;
    overflow: hidden; /* Чтобы скрыть переполнение */
    display: grid;
    row-gap: 2vw;
}

#report-area {
    border: 1px solid #ccc;
    height: auto;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.block {
    width: 200px; /* Делает блоки адаптивными */
    height: auto; /* Установите желаемую высоту */
    border: 1px solid #000;
    position: absolute; /* Меняем на relative */
    resize: both;
    overflow: hidden; /* Скрывает переполнение */
    background: white;
    box-sizing: border-box; /* Учитывает рамку в размер */
    display: flex; /* Используем flex для центрирования */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
}

.diagramms {
    resize:none;
    width: 100%;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#sidebar .block {
    cursor: grab;
    text-align: center;
}

.drag-handle {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
}

#controls {
    display: none;
    margin-bottom: 10px;
}


#controls {
    position: absolute;
    right: 0;

    width: 43vw;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#chart-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

#chart-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 14px;
}

#chart-values input{
    border: none;
    outline: none;
    /* font-size: 15px; */
    background: transparent;
    color: black;
    border-bottom: 1px solid black;
}

#chart-values input::placeholder {
    color: black; /* цвет плейсхолдера */
}

.chart-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 20px;
}

.chart-buttons button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #0d6efd;
    color: white;
    font-size: 12px;
}

.diagramms span {
    font-size: 1.5vw;
    width: 80%;
}

.diagramm-ico {
    max-width: 3vw;
    height: 80px;
    /* display: flex; */
    align-items: center;
    display: flex;
    padding-left: 3px;
}

.diagramm-ico img {
    height: auto;
    width: 3vw;
}

#page-controls {
    border: 1px solid #ccc;
    padding: 12px;
    margin: 5px;
    /* margin-left: 14.5vw; */
    border-radius: 16px;
    max-width: 34vw;
    display: grid;
    /* flex-wrap: wrap; */
    row-gap: 10px;
    width: 100%;
    height: 16vw;
}

#page-controls select {
    word-wrap: normal;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: auto;
    /* background-image: url(data:image/png;base64,...); */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    font-size: 16px;
    cursor: pointer;
    max-width: 20vw;
    width: 100%;
    outline: none;
    margin: 0 auto;
    font-size: 1.5vw;
}

#page-controls option:hover {
    background: white;
    border: 1px solid #ccc;
    border-radius: 18px;
}

#page-controls button {
    background: #0d6efd;
    color: white;
    border-radius: 10px;
    border:none;
    max-width: 20vw;
    width: 100%;
    transition: background-color ease-in-out 0.5s;
    margin: 0 auto;
    font-size: 1.5vw;
}

#page-controls button:hover {
    background: #0945a0;
}

.publish-wrapp {
    display: flex;
    max-width: 84vw;
    position: relative;
    /* margin: 0 auto; */
    width: 100%;
    justify-content: flex-end;
    column-gap: 5vw;
}

.publish {
    margin: 5px;
    border-radius: 10px;
    max-width: 44vw;
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
}

.publish_container {
    display: flex;
    justify-content: flex-end;
}

.publish h3 {
    text-align: center;
}

.publish form div {
    display: flex;
    align-items: center;
    column-gap: 5vw;
    font-size: 1.5vw;
    margin: 3px;
}

.label-wrapp {
    max-width: 40%;
    width: 100%;
}

.input-wrapp {
    max-width: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.publish form button {
    border: none;
    border-radius: 10px;
    background: #0d6efd;
    color: white;
    transition: background-color ease-in-out 0.5s;
    padding: 12px;
    margin-top: 10px;
}

.publish form button:hover {
    background:#0945a0;
}

.publish form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    padding-left: 6px;
}

.publish form textarea {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    padding-left: 6px;
}

.publish form input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #0d6efd;
    color: white;
    transition: background-color ease-in-out 0.5s;
  }

.custom-file-upload:hover{
    background:#0945a0;
}